<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Trust of helping hands</title>
  <meta content="Trust of helping hands,NGO,donation" name="description">
  <meta
    content="help donation,helping hands donation,trust,trust of helping hands,helping hands,NGO,Lucknow,Uttar Pradesh"
    name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">  
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/backtotop.css" rel="stylesheet">
  <link href="assets/css/header.css" rel="stylesheet">
  <link href="assets/css/translator.css" rel="stylesheet">
  <link href="assets/css/copyright.css" rel="stylesheet">
  <link href="assets/css/center.css" rel="stylesheet">
  <link href="assets/css/about.css" rel="stylesheet">
  <link href="assets/css/works.css" rel="stylesheet">
  <link href="assets/css/testimonial.css" rel="stylesheet">
  <link href="assets/css/team.css" rel="stylesheet">
  <link href="assets/css/contact.css" rel="stylesheet">
  <link href="assets/css/footer.css" rel="stylesheet">
  <link href="assets/css/blog.css" rel="stylesheet">
  <link href="assets/css/media.css" rel="stylesheet">

  <style>
    .VIpgJd-ZVi9od-ORHb-OEVmcd{
      display: none;
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <a href="" class="logo me-auto"><img src="assets/img/logo.png" alt="" style="max-height:50px;"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#center">Home</a></li>
          <li class="dropdown"><a href="#about"><span>About Us</span> <i class="bx bxs-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto" href="#works">Works</a></li>
              <li><a class="nav-link scrollto" href="#team">Team</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div id="myform"> 
        <div class="close"><i class="bx bx-x-circle"></i></div>
        <iframe src="https://rzp.io/l/KhM0JV9n" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href="#" class="get-started-btn">Donate Now</a>
      
      <div id="google_translate_element"></div>
      <script type="text/javascript">
      window.onload = function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en',includedLanguages : 'en,bn,gu,hi,kn,ta,te,fr,de,it,ru,',layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script>
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
  </header><!-- End Header -->

  <!-- ======= Center Section ======= -->
  <section id="center" class="d-flex align-items-center">

    <img src="assets/img/about.jpg">
    <div class="container" data-aos="zoom-out">
      <div class="row">
        <div class="col-xl-6">

          <h2>Empowering</h2>
          <h1>INDIA</h1>
          <h2>One Step at a time</h2>
          <a href="#" class="btn-get-started scrollto">YOU CAN HELP US TOO!</a>

          <div class="social">
            <h2>
              <a target="_blank" href="https://www.facebook.com/trustofhelpinghands"><i
                  class="bi bi-facebook face"></i></a>
              <a target="_blank" href="https://www.instagram.com/trust.of.helping.hands/"><i
                  class="bi bi-instagram insta"></i></a>
              <a target="_blank" href="https://twitter.com/TrustOfHH"><i class="bi bi-twitter twit"></i></a>

            </h2>

          </div>
          <!-- {% include 'includes/messages.html' %} -->

        </div>
      </div>
    </div>

  </section><!-- End Center -->

  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about section">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>About Us</h3>
              <p>
                We, at Trust Of Helping Hands believe in women empowerement and equality. We help the poor by providing
                them with basic necessities as well as the skills that can help them earn a living.<br><br>
              </p>
              <a href="#" class="about-btn"><span>Help us leave this world better than we found it </span></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100*1">
                  <i class="bx bx-female"></i>
                  <h4>Women Empowerment</h4>
                  <p>Empowering women is one of the main aims of our trust. Each woman of our society deserves respect
                    and equality and all the opportunities in this corporate world.</p>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100*2">
                  <i class="bx bxs-first-aid"></i>
                  <h4>Covid Crisis</h4>
                  <p>During the covid crisis daily wage workers had to walk hundreds of miles barefoot without any
                    shelter or basic necessities. We helped many such people by providing them food and shelter.</p>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100*3">
                  <i class="bx bxs-tree"></i>
                  <h4>Saving the environment</h4>
                  <p>We have been planting trees consistently.We believe that global warming is a threat to this world
                    and that with constant efforts we can overcome it.</p>
                </div>

                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100*4">
                  <i class="bx bxs-graduation"></i>
                  <h4>Helping the kids</h4>
                  <p>We pay for the education of many kids below the poverty line and with no means of education. We
                    believe that education is everyone's right and no one should be deprived of it.</p>
                </div>

              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Work Section ======= -->
    <section id="works" class="works section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Work</h2>
          <p>Our Contributions</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="works-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-Clothes">Clothes Distribution</li>
              <li data-filter=".filter-Food">Food Distribution</li>
              <li data-filter=".filter-Saving">Saving the Environment</li>
              <li data-filter=".filter-Blanket">Blanket Donation</li>
              <li data-filter=".filter-Frontline">Frontline Workers Help</li>
            </ul>
          </div>
        </div>

        <div class="row works-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 works-item filter-Clothes Distribution">
            <div class="works-wrap">
              <img src="assets/img/Photos/Clothes_Distribution/image1.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Clothes Distribution</h4>
                <p>Clothes Distribution</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Clothes_Distribution/image1.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Clothes Distribution">
            <div class="works-wrap">
              <img src="assets\img\Photos\Clothes_Distribution\image2.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Clothes Distribution</h4>
                <p>Clothes Distribution</p>
                <div class="works-links">
                  <a href="assets\img\Photos\Clothes_Distribution\image2.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Clothes Distribution">
            <div class="works-wrap">
              <img src="assets\img\Photos\Clothes_Distribution\image3.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Clothes Distribution</h4>
                <p>Clothes Distribution</p>
                <div class="works-links">
                  <a href="assets\img\Photos\Clothes_Distribution\image3.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Food Distribution">
            <div class="works-wrap">
              <img src="assets/img/Photos/Food_Distribution/image1.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Food Distribution</h4>
                <p>Food Distribution</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Food_Distribution/image1.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Food Distribution">
            <div class="works-wrap">
              <img src="assets/img/Photos/Food_Distribution/image2.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Food Distribution</h4>
                <p>Food Distribution</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Food_Distribution/image2.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Food Distribution">
            <div class="works-wrap">
              <img src="assets/img/Photos/Food_Distribution/image3.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Food Distribution</h4>
                <p>Food Distribution</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Food_Distribution/image3.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Saving the Environment">
            <div class="works-wrap">
              <img src="assets/img/Photos/Environment_Cause/image1.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Saving the Environment</h4>
                <p>Saving the Environment</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Environment_Cause/image1.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Saving the Environment">
            <div class="works-wrap">
              <img src="assets/img/Photos/Environment_Cause/image2.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Saving the Environment</h4>
                <p>Saving the Environment</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Environment_Cause/image2.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Saving the Environment">
            <div class="works-wrap">
              <img src="assets/img/Photos/Environment_Cause/image3.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Saving the Environment</h4>
                <p>Saving the Environment</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Environment_Cause/image3.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Blanket Donation">
            <div class="works-wrap">
              <img src="assets/img/Photos/Blanket_Distribution/image1.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Blanket Donation</h4>
                <p>Blanket Donation</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Blanket_Distribution/image1.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Blanket Donation">
            <div class="works-wrap">
              <img src="assets/img/Photos/Blanket_Distribution/image2.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Blanket Donation</h4>
                <p>Blanket Donation</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Blanket_Distribution/image2.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Blanket Donation">
            <div class="works-wrap">
              <img src="assets/img/Photos/Blanket_Distribution/image3.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Blanket Donation</h4>
                <p>Blanket Donation</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Blanket_Distribution/image3.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Frontline Workers Help">
            <div class="works-wrap">
              <img src="assets/img/Photos/Frontline_Help/image1.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Frontline Workers Help</h4>
                <p>Frontline Workers Help</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Frontline_Help/image1.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Frontline Workers Help">
            <div class="works-wrap">
              <img src="assets/img/Photos/Frontline_Help/image2.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Frontline Workers Help</h4>
                <p>Frontline Workers Help</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Frontline_Help/image2.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 works-item filter-Frontline Workers Help">
            <div class="works-wrap">
              <img src="assets/img/Photos/Frontline_Help/image3.jpg" class="img-fluid" alt="">
              <div class="works-info">
                <h4>Frontline Workers Help</h4>
                <p>Frontline Workers Help</p>
                <div class="works-links">
                  <a href="assets/img/Photos/Frontline_Help/image3.jpg" data-gallery="worksGallery"
                    class="works-lightbox"><i class="bx bx-fullscreen"></i></a>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Work Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Testimonials of some of our donors.</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Aryansh</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  </p>
                  <p>Trust of Helping Hands is doing a great job by helping the poor.<br>Keep up the good work of
                    helping others.</p>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  <p></p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Mansi</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  </p>
                  <p>Trust of helping hands has inspired many women.<br>So glad I could help them by donating.</p>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  <p></p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <h3>Jiya</h3>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  </p>
                  <p>As an activist I really wanted to help people through some genuine trust and i'm glad i came across
                    this nice trust.</p>
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  <p></p>
                </div>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>We are a team of women.</p>
        </div>

        <div class="row">
          <div class="col-sm d-flex justify-content-center">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/sudha.jpg" class="img-fluid" alt=""
                  style="min-height : 200px; min-width: 200px;max-height:250px; ">
                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4 style="text-align: center;">Sudha Verma</h4>
                <span style="text-align: center;">Trustee</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>If you have any queries regarding anything then you can contact us through the means given below.
          </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <a target="_blank" href="mailto:trustofhelpinghands@gmail.com">
                    <p>trustofhelpinghands@gmail.com</p>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p><a target="_blank" href="https://www.google.com/maps/place/Trust+Of+Helping+Hands/@26.8574804,81.0093591,20.12z/data=!4m6!3m5!1s0x399be3110541626f:0x8e627f9a1e34d004!8m2!3d26.8575372!4d81.0092258!16s%2Fg%2F11j4h6w5qz?hl=en-GB">L-3/91, Vinay Khand,
                    Gomti Nagar, Lucknow</a>
                    </p>
                </div>
              </div>

              <div class="col-md-3">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <a target="_blank" href="tel:+91 7007550992">
                    <p>+91 7007550992</p>
                  </a>
                </div>
              </div>
            </div>

          </div>

          <!-- <div class="col-lg-6">
            <form action="{% url 'inquiry' %}" method="POST" role="form" class="email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>

              <div class="g-recaptcha" id="capt" data-sitekey="6Lfev3gdAAAAABmCaXyZQmi8K0ofj28DSZ4EilSe"
                data-callback="enableBtn"></div>
              <div class="text-center"><button type="submit" id="button1" disabled="disabled">Send Message</button>
              </div>
            </form>
          </div> -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-sm-6 footer-contact">
            <h3>Trust Of Helping Hands</h3>
            <p>
              L-3/91, Vinay Khand, Gomti Nagar, Lucknow<br>
              Uttar Pradesh,India, Pincode - 226010<br>
              <strong>Phone: </strong>+91 7007550992<br>
              <strong>Email: </strong>trustofhelpinghands@gmail.com<br>
            </p>
          </div>

          <div class="col-sm-4 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#works">Works</a></li>
              
            </ul>
          </div>
          
          <div class="col-sm-2 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#testimonials">Testimonials</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <span class="year" id="date"></span><strong><span>Trust Of Helping Hands</span></strong>. All
          Rights Reserved
        </div>
        <div class="credits">
          Designed by <a target="_blank" href="https://www.github.com/vermaayush680/">Ayush Verma</a>
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        <a target="_blank" href="https://twitter.com/TrustOfHH" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/trustofhelpinghands" class="facebook"><i
            class="bx bxl-facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/trust.of.helping.hands/" class="instagram"><i
            class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bx bx-up-arrow-alt"></i></a>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
      $("final_msg").click(function () {
        $("final_msg").fadeOut("slow");
      });
      $(".get-started-btn").click(function() {
        $('#myform').fadeIn('fast');
    });
    $(".btn-get-started").click(function() {
      $('#myform').fadeIn('fast');
  });
  $(".about-btn").click(function() {
    $('#myform').fadeIn('fast');
  });
    $(".close").click(function() {
        $('#myform').fadeOut('fast');
    });  
    </script>


  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
      <script>
        function enableBtn() {
          document.getElementById("button1").disabled = false;
        }
        n = new Date();
        y = n.getFullYear();
        document.getElementById("date").innerHTML = y + " ";
      </script>


</body>

</html>