/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px 0 32px 0;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
  .contact .info-box i {
    font-size: 32px;
    color: #ff3399;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #f8d4d5;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    border-radius: 4px;
  }
  
  .contact .email-form .error-message {
    display: none;
    color: #f1f1f1;
    background: #ff0080;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .email-form .error-message br + br {
    margin-top: 25px;
  }
  
  .contact .email-form .sent-message {
    display: none;
    color: #f1f1f1;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .email-form .loading {
    display: none;
    background: #f1f1f1;
    text-align: center;
    padding: 15px;
  }
  
  .contact .email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .email-form .form-group {
    margin-bottom: 25px;
  }
  
  .contact .email-form input, .contact .email-form textarea {
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .email-form input:focus, .contact .email-form textarea:focus {
    border-color: #111111;
  }
  
  .contact .email-form input {
    padding: 10px 15px;
  }
  
  .contact .email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .email-form button[type="submit"] {
    background: #ff3399;
    border: 0;
    padding: 10px 32px;
    color: #f1f1f1;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .email-form button[type="submit"]:hover {
    background: #ff0080;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }