
@media (max-width: 992px) {
    .face {
        margin-left: 0px;
    }
    #header {
        background-color:rgba(202,202,202,0.0);
      }
    #google_translate_element
    {
    margin-left: 0px !important;
    margin-right: 20px !important;
    }

    .goog-te-gadget {
    font-size: 8px !important;
    }

    .blog .entry {
      margin-bottom: 10px;
    }

    .blog {
      padding: 40px 0 40px 0;
    }

    .get-started-btn {
        font-size: 11px;
        margin: 0 20px 0 0;
        padding: 3px 8px;
    }

    .entry .entry-img div {
      margin: 0px !important;
      padding: 0px !important;
    }

    #center .btn-get-started 
    {
        font-size: 12px;
        padding: 10px 10px;
        margin-top: 5px;
    }

    .social
    {
        align-items: center;
    }

    #header .logo {
        font-size: 1em;
        text-align: center;
      }
    #header .logo a {
        color: #1a1a1a;
    }

    #header .logo img {
      max-width: 60px;
  }


    #header .logo a:hover {
      color: #f1f1f1;
  }

    #header1 .logo1 {
        font-size: 1em;
        text-align: center;
      }
    #header1 .logo1 a {
        color: #1a1a1a;
    }
      .goog-te-menu-value {
        font-size: 10px !important;
      } 
    
      

      section {
          padding : 50px 0;
      }
      .about .content {
        padding: 0;
    }
    .about .content .about-btn {
        margin-left: 0px;
    }

    

    .works #works-flters li {
        padding: 8px 9px 8px 9px;
    }

    .works .works-wrap img {
        max-height: 250px;
    min-height: 250px;
    max-width: 390px;
    min-width: 390px;
    }

    .team .member .member-info {
        padding: 15px 15px;
    }
}

  @media (max-width: 768px) {
    .about {
      text-align: center;
      left: 10px;
      width: 95%;
    }

    #center {
        text-align: center;
        margin-top: 100px;
        height: 40vh;
      }
      #center h1 {
        font-size: 28px;
      }
      #center h2 {
        font-size: 18px;
        line-height: 24px;
      }
  }

  @media (max-width: 1200px) {
    .about .content {
      padding-right: 0;
    }
  }

  @media (min-width: 769px)
  {
  .goverlay {
      background: rgba(0,0,0,1);
  }
}